.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.main {
  display: flex;
}

.fish {
  width: 50%;
}

.bugs {
  width: 50%;
}
